@page
@model MascotaFeliz.App.Presentacion.Pages.DetailsMascotaModel
@{
}
<h2>Detalles de la Mascota</h2>
<div>
    Id: @Model.Mascota.Id
</div>
<div>
    Nombre: @Model.Mascota.NombreMascota
</div>
<div>
    Apellidos: @Model.Mascota.Caracteristicas
</div>
<div>
    Telefono: @Model.Mascota.TipoMascota
</div>
<a asp-page ="./ListMascota" class="btn-default">Lista de Mascotas</a>