<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] MascotaFeliz</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="style-starter.css">
    <link rel="stylesheet" href="~/css/style-starter.css" />
</head>

<body>

    <div>

        <div>
           <!-- AQUÍ VIENE EL HEADER -->
            <header>
                <nav
                    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container">
                        <a class="navbar-brand" asp-area="" asp-page="/Index">MundoPaticas</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Servicios">Servicios</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Propietario/List"
                                        target="_blanck">Propietarios de Mascotas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Visita/List1"
                                        target="_blanck">Visita
                                        Domiciliaria</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/CMascota/ListMascota"
                                        target="_blanck">Mascota</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/CVeterinario/ListVeterinario"
                                        target="_blanck">Veterinario</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>






            <div>
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>

            </div>
        </div>

    </div>



</body>

<footer class="w3l-footer-29-main">

    <div class="footer-29-w3l py-5">
        <div class="container py-lg-4">
            <div class="row footer-top-29">
                <div class="col-lg-4 col-md-6  footer-list-29 footer-1 pr-lg-5">
                    <div class="footer-logo mb-3">
                        <a class="footer-brand-logo">Mundo<span class="sublog">Paticas</span></a>

                    </div>
                    <p>Somos una empresa especializada en el cuidado y atención domiciliara de mascotas</p>
                    <div class="main-social-footer-29 mt-4">
                        <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                        <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                        <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                        <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 footer-list-29 footer-2 mt-sm-0 mt-5">
                    <h6 class="footer-title-29">Subscribete al Newsletter
                    </h6>
                    <div action="#" method="post" class="forms-25-info mt-4 mb-2">
                        <div class="forms-gds">
                            <input type="email" name="" placeholder="Ingresa tu email" required="">
                            <button class="btn btn-style btn-primary">Clic aquí</button>
                        </div>
                        <p class="mt-4 text-left">Para suscribirte acepta la <a href="#"> Politica de
                                Privacidad</a>
                            y <a href="#">Terminos de uso</a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6  footer-list-29 footer-4 mt-lg-0 mt-5 pl-lg-5">
                    <h6 class="footer-title-29"> Comparte tus fotos con nosotros en Instagram
                    </h6>
                    <ul class="w3linst-imgs row">
                        <li class="col-4"><a href="#"><img src="~/imagenes/b20.jpg" alt=""
                                    class="radius-image img-fluid"></a>
                        </li>
                        <li class="col-4"><a href="#"><img src="~/imagenes/b21.jpg" alt=""
                                    class="radius-image img-fluid"></a>
                        </li>
                        <li class="col-4"><a href="#"><img src="~/imagenes/b22.jpg" alt=""
                                    class="radius-image img-fluid"></a>
                        </li>
                        <li class="col-4 mt-4"><a href="#"><img src="~/imagenes/b23.jpg" alt=""
                                    class="radius-image img-fluid"></a>
                        </li>
                        <li class="col-4 mt-4"><a href="#"><img src="~/imagenes/b24.jpg" alt=""
                                    class="radius-image img-fluid"></a>
                        </li>
                        <li class="col-4 mt-4"><a href="#"><img src="~/imagenes/b25.jpg" alt=""
                                    class="radius-image img-fluid"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- copyright -->
    <section class="w3l-copyright">
        <div class="container">
            <div class="row bottom-copies">
                <p class="col-lg-8 copy-footer-29">© 2021 Mundo Paticas. Todos los derechos reservados.
                    Diseñado por <a target="_blank">
                        Yotta - Misión TIC 2021 - Universidad de Caldas </a></p>

                <div class="col-lg-4 footer-list-29">
                    <ul class="d-flex text-lg-right">
                        <li class="mx-lg-5 mx-md-4 mx-3"><a class="politica">Politicas de Privacidad</a></li>
                        <li><a href="contact.html">Contáctanos </a></li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
    <button onclick="topFunction()" id="movetop" title="Go to top">
        &#10548;
    </button>

</footer>





@RenderSection("Scripts", required: false)

</html>
