@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Petspatial Animals & Pets Category Bootstrap Responsive Web Template | Home :: W3Layouts </title>
    <link href="//fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <!-- Template CSS -->


    <link rel="stylesheet" href="style-starter.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style-starter.css" />
</head>

<body>
    
    <!--//header-->
    <!-- main-slider -->
    <section class="w3l-main-slider banner-slider" id="home">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <div class="slider-info banner-view banner-top1">
                    <div class="container">
                        <div class="banner-info">
                            <h3>Salud y Cuidado de Mascotas.</h3>
                            <div class="banner-info-top">
                                <p>Contamos con un equipo de profesionales altamente calificados para
                                    brindarle a tu mascota todos los cuidados que necesita </p>
                                <a href="about.html" class="btn btn-style btn-outline-light mt-sm-5 mt-4">Leer Más </a>

                            </div>
                        </div>
                        <div class="banner-info-top-grids">
                            <h5 class="text-lg-left"><strong>Ubicación : </strong>Av. Esperanza N° 26-16</h5>
                            <h5 class="text-lg-right"><strong>Horario de Atención : </strong> Lunes - Viernes: Las 24
                                horas,<br> Sábado - Domingo: 8am - 6pm</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-info banner-view banner-top2">
                    <div class="container">
                        <div class="banner-info">
                            <h3>Estética y Belleza.</h3>
                            <div class="banner-info-top">
                                <p>Tu mascota se robará todas las miradas con todas las
                                    opciones que tenemos. </p>
                                <a href="about.html" class="btn btn-style btn-outline-light mt-sm-5 mt-4">Leer Más</a>

                            </div>
                        </div>
                        <div class="banner-info-top-grids">
                            <h5 class="text-lg-left"><strong>Ubicación : </strong>Av. Esperanza N° 26-16</h5>
                            <h5 class="text-lg-right"><strong>Horario de Atención : </strong> Lunes - Viernes: Las 24
                                horas,<br> Sábado - Domingo: 8am - 6pm</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-info banner-view banner-top3">
                    <div class="container">
                        <div class="banner-info">
                            <h3>Adopción.</h3>
                            <div class="banner-info-top">
                                <p>Aquí encontrarás mascotas de todo tipo esperando a ser adoptadas.
                                    ¡Abre las puertas de tu casa y de tu corazón a los mejores compañeros de vida! </p>
                                <a href="about.html" class="btn btn-style btn-outline-light mt-sm-5 mt-4">Leer Más </a>
                            </div>
                        </div>
                        <div class="banner-info-top-grids">
                            <h5 class="text-lg-left"><strong>Ubicación : </strong>Av. Esperanza N° 26-16</h5>
                            <h5 class="text-lg-right"><strong>Horario de Atención : </strong> Lunes - Viernes: Las 24
                                horas,<br> Sábado - Domingo: 8am - 6pm</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- /main-slider -->
    <!--/feature-grids-->
    <section class="w3l-features py-5" id="features">
        <div class="container py-lg-4">
            <div class="grids-area-hny main-cont-wthree-fea row">
                <div class="col-lg-2 col-md-3 col-6 grids-feature">
                    <div class="area-box">
                        <div class="icon">
                            <span class="fa fa-snowflake-o"></span>
                        </div>
                        <h4><a href="#feature" class="title-head">Paseo Mascotas</a></h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-6 grids-feature">
                    <div class="area-box mb-lg-0">
                        <div class="icon">
                            <span class="fa fa-cutlery"></span>
                        </div>
                        <h4><a href="#feature" class="title-head">Bocadillos Deliciosos</a></h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-6 grids-feature">
                    <div class="area-box mb-lg-0">
                        <div class="icon">
                            <span class="fa fa-sign-language"></span>
                        </div>
                        <h4><a href="#feature" class="title-head">Salud y Cuidado de Mascotas</a></h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-6 grids-feature">
                    <div class="area-box">
                        <div class="icon">
                            <span class="fa fa-sitemap"></span>
                        </div>
                        <h4><a href="#feature" class="title-head">Entrenamiento de Mascotas</a></h4>

                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-6 grids-feature">
                    <div class="area-box mb-lg-0">
                        <div class="icon">
                            <span class="fa fa-shower"></span>
                        </div>
                        <h4><a href="#feature" class="title-head">Estética y Cuidado Diario</a></h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-6 grids-feature">
                    <div class="area-box">
                        <div class="icon">
                            <span class="fa fa-user-md"></span>
                        </div>
                        <h4><a href="#feature" class="title-head">Urgencias Veterinarias</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </section>







    <!--//feature-grids-->
    <!--/about-section-->
    <!--NUEVAAAAA SECCIONNNN-->
    <section class="w3l-blog-single py-5" id="blogs">
        <div class="container py-md-5 py-2">
            <div class="title-content text-left">
                <h6 class="title-subhny mb-2"><span>Acerca de nosotros</span></h6>
            </div>
            <div class="row text11-content">
                <div class="col-md-6 item mt-5">
                    <div class="single-left1 mb-0">
                        <div class="blg-img">
                            <a href="#"><img src="~/imagenes/b16.jpg" alt=" " class="img-responsive img-fluid">
                                <div class="bl-top">
                                    <h4>Visión </h4>
                                </div>
                            </a>
                        </div>
                        <div class="btom-cont">

                            <p class=""> Mundo Paticas busca satisfacer los requerimientos y expectativas en el marco de
                                la salud veterinaria, <br>
                                así como todos los aspectos que se relacionen con el bienestar de los peludos del hogar,
                                logrando así,<br>
                                posicionarnos como un instituto de bienestar animal que se destaca por un completo
                                cubrimiento de servicios de salud <br>
                                y cuidado integral de nuestras mascotas, desde la ética humana y profesional,
                                comprometida y responsable,
                                con el fin de brindar la mejor alternativa en atención especializada para el mejor amigo
                                del hombre. </p>


                        </div>
                    </div>
                </div>
                <div class="col-md-6 item mt-5">
                    <div class="single-left1 mb-0">
                        <div class="blg-img">
                            <a href="#"><img src="~/imagenes/b17.jpg" alt=" " class="img-responsive img-fluid">
                                <div class="bl-top">
                                    <h4>Misión</h4>
                                </div>
                            </a>
                        </div>

                        <div class="btom-cont">

                            <p class="">
                                Ofrecer la mejor atención para el cuidado de nuestras mascotas y así preservar la salud,
                                <br>
                                tranquilidad y armonía e integración de nuestros peluditos en la vida familiar dentro
                                del hogar, <br>
                                mediante técnicas avanzadas de atención médica y cuidado especializado; <br>
                                nuestro valor agregado es el trabajo diario, comprometido y constante para lograr la
                                cobertura a las necesidades <br>
                                de nuestros afiliados, mediante un equipo profesional capacitado, <br>
                                infraestructura innovadora, instrumentación de punta, <br>
                                que permitirá hacer más eficiente nuestra labor y una mayor satisfacción para la familia
                                del peludo.
                            </p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
