@page
@model PrivacyModel
@{

}

<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Petspatial Animals & Pets Category Bootstrap Responsive Web Template | Services :: W3Layouts </title>
    <link href="//fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="style-starter.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style-starter.css" />

</head>

<div>

    <!--//header-->
    <!--/inner-page-->

    <div class="inner-banner">
    </div>
    <section class="w3l-breadcrumb">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Home</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Servicios</li>
            </ul>
        </div>
    </section>



    <!--//PRIMER SECCION A TENER EN CUENTA-->
    <!--//inner-page-->
    <section class="w3l-servicesblock py-5" id="services">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row">
                <div class="col-lg-6 about-right-faq align-self">
                    <div class="title-content text-left">
                        <h6 class="title-subhny mb-2"><span>Nuestros Servicios</span></h6>
                        <h3 class="title-w3l">¿Quiénes somos?</h3>
                    </div>
                    <p class="mt-lg-4 mt-3 mb-lg-5 mb-4">Somos una empresa especializada en <br> el cuidado de tu
                        mascota.<br><br>
                        Ofrecemos una alta gama de servicios<br>de alta calidad y experiencia<br>
                        confortable para ti y tu peludito </p>
                </div>
                <div class="col-lg-6 left-wthree-img mt-lg-0 mt-4 pl-lg-5">
                    <img src="~/imagenes/b1.jpg" alt="" class="img-fluid radius-image">
                </div>
                <a class="btn btn-style btn-primary mt-4" href="#">Leer más</a>
            </div>
        </div>
    </section>





    <!--//SEGUNDA SECCION A TENER EN CUENTA-->
    <div id="myDiv">
        <img src="~/imagenes/b2texto.jpg" alt="" class="img-fluid radius-image">


    </div>

    <!-- tercera sección urgencias veterinarias -->
    <section class="products py-5" id="projects">
        <div class="container py-lg-5 py-md-4">
            <div class="products-content">
                <div class="row no-gutters">
                    <div class="col-lg-7">
                        <div class="title-content text-left">
                            <h6 class="title-subhny mb-2"><span>Urgencias Veterinarias</span></h6>
                            <h3 class="title-w3l"> Los mejores profesionales al cuidado de tu mascota</h3>
                        </div>

                        <p class="mt-3"> Contamos con un equipo de profesionales altamente calificados para
                            brindarle a tu mascota todos los cuidados que necesita .</p>
                        <div class="row my-lg-5 my-4">
                            <div class="col-lg-6">
                                <img src="~/imagenes/b3vet.jpg" class="img-fluid radius-image" alt="project image">
                            </div>
                            <div class="col-lg-6 mt-lg-0 mt-4">
                                <p>Sabemos que en cualquier momento nos puedes necesitar.
                                    Si tienes una urgencia veterinaria o quieres agendar tu cita,
                                    tenemos servicio de atención 24 horas.
                                    ¡Estamos para ayudar a tu mascota!
                                    Llámanos al +(601) 864 12 23
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 mt-lg-0 mt-md-5 mt-4 pl-lg-5">
                        <img src="~/imagenes/b3.jpg" class="img-fluid radius-image" alt="project image">
                    </div>
                </div>
                <a class="btn btn-style btn-primary mt-4" href="#">Leer más</a>
            </div>
        </div>
    </section>
    <!-- cuarta sección -->
    <section class="w3l-servicesblock py-5" id="services">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row">
                <div class="col-lg-6 about-right-faq align-self">
                    <div class="title-content text-left">
                        <h6 class="title-subhny mb-2"><span>Nuestros Servicios</span></h6>
                        <h3 class="title-w3l">Estética y belleza</h3>
                    </div>
                    <p class="mt-lg-4 mt-3 mb-lg-5 mb-4">Tu mascota se robará todas las miradas con todas las
                        opciones que tenemos.
                        <br>Elige la que prefieras:<br>
                        <li>Baño seco + antipulgas</li>
                        <li>Baño liquido + antipulgas</li>
                        <li>Corte de uñas</li>
                        <li>Corte de pelo</li>
                        <li>Profilaxis </li>
                    </p>


                </div>
                <div class="col-lg-6 left-wthree-img mt-lg-0 mt-4 pl-lg-5">
                    <img src="~/imagenes/b4.jpg" alt="" class="img-fluid radius-image">
                </div>
                <a class="btn btn-style btn-primary mt-4" href="#">Leer más</a>

            </div>
        </div>
    </section>
    <!--//quinta SECCION A TENER EN CUENTA-->
    <div>
        <img src="~/imagenes/banner.jpg" alt="" class="img-fluid radius-image">

        <!--//sexta SECCION A TENER EN CUENTA-->
        <!--//inner-page-->
        <section class="w3l-servicesblock py-5" id="services">
            <div class="container py-lg-5 py-md-4 py-2">
                <div class="row">
                    <div class="col-lg-6 about-right-faq align-self">
                        <div class="title-content text-left">
                            <h6 class="title-subhny mb-2"><span>Otros servicios</span></h6>
                            <h3 class="title-w3l">Adopción</h3>
                        </div>
                        <p class="mt-lg-4 mt-3 mb-lg-5 mb-4"> <br> Podrás encontrar animales en adopción, ya sea que
                            por un motivo u otro,
                            estos necesitan de un hogar lleno de amor.
                            Aquí encontrarás mascotas de todo tipo esperando a ser adoptadas. Mascotas procedentes
                            de una camada,
                            animales encontrados en la calle o mascotas que necesitan un nuevo hogar.<br>
                            <br>¡Abre las puertas de tu casa y de tu corazón a los mejores compañeros de vida! <br>
                        </p>
                    </div>
                    <div class="col-lg-6 left-wthree-img mt-lg-0 mt-4 pl-lg-5">
                        <img src="~/imagenes/b15.jpg" alt="" class="img-fluid radius-image">
                    </div>
                    <a class="btn btn-style btn-primary mt-4" href="#">Adopta</a>
                </div>
            </div>
        </section>
        <!--NUEVAAAAA SECCIONNNN-->
        <section class="w3l-blog-single py-5" id="blogs">
            <div class="container py-md-5 py-2">
                <div class="title-content text-left">
                    <h6 class="title-subhny mb-2"><span>Otros Servicios</span></h6>
                </div>
                <div class="row text11-content">
                    <div class="col-md-6 item mt-5">
                        <div class="single-left1 mb-0">
                            <div class="blg-img">
                                <a href="#"><img src="~/imagenes/b16.jpg" alt=" " class="img-responsive img-fluid">
                                    <div class="bl-top">
                                        <h4>Paseo </h4>
                                    </div>
                                </a>
                            </div>
                            <div class="btom-cont">
                                <h5 class="card-title"><a href="#">Paseo Mascotas</a></h5>
                                <p class=""> ¿Sabias qué? Durante los paseos diarios,<br> tu peludito disfrutará de
                                    luz solar y absorverá<br>
                                    su necesaria dosis de vitaminas.<br> El sol favorece la producción de
                                    serotonina,<br>
                                    calma la ansiedad, mejora el sueño<br> y tiene un efecto analgésico para el
                                    dolor<br> articular de tu mascota. </p>
                                <a href="#" class="btn btn-style btn-primary mt-4">Agéndate</a>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 item mt-5">
                        <div class="single-left1 mb-0">
                            <div class="blg-img">
                                <a href="#"><img src="~/imagenes/b17.jpg" alt=" " class="img-responsive img-fluid">
                                    <div class="bl-top">
                                        <h4>Escuela</h4>
                                    </div>
                                </a>
                            </div>

                            <div class="btom-cont">
                                <h5 class="card-title"><a href="#">Escuela de Mascotas</a></h5>

                                <p class=""> El entrenamiento negativo en los perros<br> puede causar estrés y
                                    debilita la relación con el sueño<br>
                                    para esto, es necesario crear un entrenamiento vinculado<br> a una rutina de
                                    ejercicios funcionales<br> que permitan la comunicación
                                    asertiva entre tu y tu peludito,<br> conoce los diferentes tipos de rutina<br>
                                    según las características de tu mascota.</p>
                                <a href="#" class="btn btn-style btn-primary mt-4">Inscríbete</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- //home page block grids -->

        <!-- Mapa-->
        <div class="mapa">

            <div>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6002.744010369001!2d-73.35963438693453!3d5.511818867636871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6a7dc686e4fc4b%3A0x939aaeb6f68b6eaf!2sMundo%20Patitas%20-%20Tienda%20de%20Mascotas!5e0!3m2!1ses!2sco!4v1634342573277!5m2!1ses!2sco"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div>


                <img src="~/imagenes/b27.jpg">
            </div>
            <div>

            </div>
        </div>











    </div>

</html>
